---

- name: Dockutil | Get information on items to move
  ansible.builtin.shell: "{{ dock_dockutil_path }} -f '{{ item.label }}'"
  register: dock_dockitems_to_move
  loop: "{{ dock_dockitems | selectattr('action', 'equalto', 'move') }}"
  changed_when: false
  failed_when: >
    "No such file or directory" in dock_dockitems_to_move.stdout
    or "command not found" in dock_dockitems_to_move.stdout
    or "was not found in" in dock_dockitems_to_move.stdout
  tags:
    - dock-move

- name: Dockutil | Moving items
  ansible.builtin.shell: "{{ lookup('template', './templates/move.j2') | replace('\n', '') | trim }}"
  loop_control:
    label: "{{ item.item }}"
  changed_when: false
  when: dock_dockitems_to_move.results is defined and (dock_dockitems_to_move.results | length > 0)
  tags:
    - dock-move
