---

- name: Dockutil - Validation | Make sure that dockitems array contains valid "position" items
  ansible.builtin.fail:
    msg: >-
      "position" can only be one of: "{{ validation_lists.position | join(', ') }}" or [+/-]index_number (int)
  loop: "{{ dock_dockitems }}"
  when:
    - item.position is defined
    - not item.position | regex_search('([0-9]+|beginning|middle|end)')
  run_once: true
  tags:
    - dock-manipulate
    - dock-validate

- name: Dockutil - Validation | Make sure that dockitems array contains path if action is add
  ansible.builtin.fail:
    msg: >-
      "path" must be present when you are trying to add item. Specify full path to app.
  loop: "{{ dock_dockitems }}"
  when:
    - item.action == 'add'
    - item.path is not defined
  run_once: true
  tags:
    - dock-manipulate
    - dock-validate

- name: Dockutil - Validation | Make sure that each item contains label
  ansible.builtin.fail:
    msg: >-
      "label" must be defined. Please check documentation for more info.
  loop: "{{ dock_dockitems }}"
  when:
    - item.label is not defined
  run_once: true
  tags:
    - dock-manipulate
    - dock-validate
